In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('New_York_reviews.csv')
df.head()

/var/folders/11/cxk41wc10_xff4v0c3jx2bb80000gn/T/ipykernel_12664/3967909716.py:1: DtypeWarning: Columns (0,1,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('New_York_reviews.csv')

,Unnamed: 0,parse_count,restaurant_name,rating_review,sample,review_id,title_review,review_preview,review_full,date,city,url_restaurant,author_id
0,1,2,Lido,5,Positive,review_773559838,A Regular Treat,My wife and I have been eating dinner frequent...,My wife and I have been eating dinner frequent...,"October 8, 2020",New_York_City_New_York,https://www.tripadvisor.com/Restaurant_Review-...,UID_0
1,2,3,Lido,4,Positive,review_769429529,Good neighborhood spot!,Came with family for Labor Day weekend brunch ...,Came with family for Labor Day weekend brunch ...,"September 8, 2020",New_York_City_New_York,https://www.tripadvisor.com/Restaurant_Review-...,UID_1
2,3,4,Lido,1,Negative,review_745700258,Disappointing,Food was mediocre at best. The lamb chops are...,Food was mediocre at best. The lamb chops are ...,"February 17, 2020",New_York_City_New_York,https://www.tripadvisor.com/Restaurant_Review-...,UID_2
3,4,5,Lido,5,Positive,review_728859349,What a find in Harlem,My co-workers were volunteering at a foodbank ...,My co-workers were volunteering at a foodbank ...,"November 25, 2019",New_York_City_New_York,https://www.tripadvisor.com/Restaurant_Review-...,UID_3
4,5,6,Lido,5,Positive,review_728429643,Lunch,Lido is an intimate boutique style restaurant....,Lido is an intimate boutique style restaurant....,"November 23, 2019",New_York_City_New_York,https://www.tripadvisor.com/Restaurant_Review-...,UID_4

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510463 entries, 0 to 510462
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       510463 non-null  object
 1   parse_count      510463 non-null  object
 2   restaurant_name  510463 non-null  object
 3   rating_review    510463 non-null  object
 4   sample           510463 non-null  object
 5   review_id        510463 non-null  object
 6   title_review     510462 non-null  object
 7   review_preview   510462 non-null  object
 8   review_full      510461 non-null  object
 9   date             510461 non-null  object
 10  city             510461 non-null  object
 11  url_restaurant   510461 non-null  object
 12  author_id        510461 non-null  object
dtypes: object(13)
memory usage: 50.6+ MB

In [4]:
df['rating_review'].value_counts()

5                         227762
4                         138785
3                          46988
5                          31210
4                          22006
2                          17553
1                          13839
3                           7356
2                           2759
1                           2204
New_York_City_New_York         1
Name: rating_review, dtype: int64

In [5]:
df = df[['rating_review', 'review_full']]
df.head()

  rating_review                                        review_full
0             5  My wife and I have been eating dinner frequent...
1             4  Came with family for Labor Day weekend brunch ...
2             1  Food was mediocre at best. The lamb chops are ...
3             5  My co-workers were volunteering at a foodbank ...
4             5  Lido is an intimate boutique style restaurant....

In [8]:
# droping a row that df['rating_review']='New_York_City_New_York'
df = df.drop(df['rating_review'].loc[df['rating_review']=='New_York_City_New_York'].index)

In [10]:
df['rating_review'].value_counts()

5    227762
4    138785
3     46988
5     31210
4     22006
2     17553
1     13839
3      7356
2      2759
1      2204
Name: rating_review, dtype: int64